body {
    margin: 0;
    padding: 0;
    background: #262626;
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 400px;
    height: 250px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}

.container .box .imgBox {
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}

.container .box:hover .imgBox img {
    transform: scale(1.2);
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details {
    transform: scaleY(1);
}

.container .box .details .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.container .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}

.menu-bar {
    background: rgb(0, 100, 0);
    text-align: left;
    z-index: 1;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 110px;
    margin: 5px;
    padding: 5px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}

.menu-bar .fa {
    margin: 5px;
}

.sub-menu1 {
    display: none;
}

.sub-menu1 ul li {
    width: 60px;
    margin: 5px;
    padding: 5px;
}

.menu-bar ul li:hover .sub-menu1 {
    display: block;
    position: absolute;
    background: rgb(0, 100, 0);
    margin-top: 5px;
    margin-left: -5px;
}

.menu-bar ul li:hover .sub-menu1 ul {
    display: block;
    margin: 5px;
}

th {
    margin: 40px;
}

tr {
    align-content: center;
}

.im {
    height: 680px;
    width: 680px;
    margin: 20px;
    padding: 10px;
}

.h1 {
    color: burlywood;
    text-align: center;
}

.button {
    left: 0px;
    right: 0px;
    width: 310px;
    height: 50px;
    display: block;
    padding: 5px;
    margin: 0 auto 20px;
    background: white;
}

.city1,
.city2,
.city3,
.city4 {
    font-size: 20px;
    width: 90px;
    height: 40px;
    color: white;
    background: green;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}