body
{
	background: #71A95A;
	background-size: cover;
	background-position: center;
}
.menu-bar
{
	width: 107%;
	height: 75px;
	background: rgb(0,0,0,.8);

	position: sticky;
	top: 0;
}
.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;
}
.menu-bar ul li
{
	width: 100px;
	margin: 5px;
	padding: 5px;
}
.menu-bar ul li a
{
	text-decoration: none;
	color: white;
}
.active , .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar .fa
{
	margin: 5px;
}
.sub-menu1
{
	display: none;

}
.sub-menu1 ul li
{
	width: 60px;
	margin: 5px;
	padding: 5px;

}

.menu-bar ul li:hover .sub-menu1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 5px;
	margin-left: -5px;
}
.menu-bar ul li:hover .sub-menu1 ul
{
	display: block;
	margin: 5px;
}

.outerbox
{
	width: 1600px;
	overflow: hidden;
    z-index: -1;
}
.innerbox
{
    position: relative;
    width: 6400px;
    top: 0px;
    animation: slide 20s infinite;
    z-index: -1;

}
.innerbox img
{
    float: left;
    z-index: -1;

}
@keyframes slide
{
	0%{
		left: 0px;
	}
	20%{
		left: 0px;
	}
	25%{
		left: -1600px;
	}
	45%{
		left: -1600px;
	}
	50%{
		left: -3200px;
	}
	70%{
		left: -3200px;
	}
	75%{
		left: -4800px;
	}
	95%{
		left: -4800px;
	}
	1000%{
		left: -6400px;
	}
}

.h1
{
	color: green;
	text-align: center;
}

.button
{
	left: 0px;
	right: 0px;
	width: 100px;
	height: 200px;
	display: block;
	padding: 5px;
	margin: auto;


}

.city1,.city2,.city3,.city4
{
	width: 80px;
	height: 40px;
	color: white;
	background: green;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;

}
/*.slider
{
	width: 800px;
	height: 400px;
	background: url(shimla.jpg);
	margin: 100px auto;

    animation: slide 30s infinite;
}
@keyframes slide
{
	25%{
		background : url(shimla.jpg);
	}
	50%{
		background : url(sandeep.jpg);
	}
	75%{
		background : url(brahma-sarovar.jpg);
	}
	100%{
		background : url(pune.jpg);
	}
}*/

